
.vs/ОсновнойСжатиеJPEG/v16/Browse.VC.opendb
.vs/ОсновнойСжатиеJPEG/v16/ipch/AutoPCH/249b27b61901b5d0/BRINGOFF.ipch
BringOff/Debug/BringOff.log
BringOff/Debug/BringOff.log
BringOff/Debug/BringOff.obj
BringOff/Debug/BringOff.tlog/BringOff.lastbuildstate
BringOff/Debug/BringOff.tlog/CL.command.1.tlog
BringOff/Debug/BringOff.tlog/CL.read.1.tlog
BringOff/Debug/BringOff.tlog/CL.write.1.tlog
BringOff/Debug/BringOff.tlog/link.command.1.tlog
BringOff/Debug/BringOff.tlog/link.read.1.tlog
BringOff/Debug/BringOff.tlog/link.write.1.tlog
BringOff/Debug/vc142.idb
BringOff/Debug/vc142.pdb
